.counter {
    display: flex;
    width: 100%;
    height: 2.5rem;
    justify-content: center;
    background-color: white;
}

.counter-button {
    width: 2.5rem;
    transition: 0.4s;
    background-color: #FFFFFF;
    z-index: 999;
}

.counter-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.counter-text {
    margin: 0;
    font-family: 'D-DIN Exp';
    font-style: normal;
    font-weight: 700;
    font-size: 0.813rem;
    line-height: 0.875rem;
    letter-spacing: 0.2em;
}

.counter-mid {
    width: 2rem;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width:767px) {
    .counter {
        height: 3rem;
    }

    .counter-button {
        width: 3rem;
    }

    .counter-mid {
        width: 3rem;
    }

    .counter-button-img {
        width: calc(100% / 3);
    }

    .counter-button-img-2 {
        width: 1rem;
    }

    .counter-text {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}