.footer-text{
    font-family: 'D-DIN Exp';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    letter-spacing: 0.2em;
    color: rgba(255, 255, 255, 0.3);
    text-align: right;
}
.footer-div{
    margin-right: 3rem;
}
footer{
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0px;
    margin-bottom: 1.5vh;
}

@media (max-width:767px) {
    footer{
        margin:0;
    }
    .footer-div{
        margin-right: 1rem;
    }
}