.header-nav {
    height: 4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 999;
    background-color: black;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left-corner-ul {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 2rem;
}

.header-left-corner-ul li {
    margin-right: 0.5rem;
    color: rgba(255, 255, 255, 0.3);
    list-style-type: none;
    font-family: 'D-DIN Exp', sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0.2em;
    text-align: center;
    transition: 0.2s;

}

.header-left-corner-ul li:hover {
    color: white;
}

.active {
    color: #FFFFFF !important;
}

.active-bar {
    background-color: white !important;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right-text {
    display: flex;
    color: #FFFFFF;
    list-style-type: none;
    font-family: 'D-DIN Exp', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0.2em;
    margin-right: 2rem;
    margin-left: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.header-right-corner {
    width: 5rem;
    height: 100%;
    display: flex;
    background: #FFFFFF;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.header-right-corner:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.header-right-corner-image {
    height: 25%;
}

.header-right-text-p {
    color: rgba(255, 255, 255, 0.2);
    margin: 0;
}

.hamburger {
    display: block;
    cursor: pointer;
    margin-left: 2rem;
}

.bar {
    display: block;
    width: 2.5rem;
    height: 2px;
    margin: 0.5rem auto;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.3);
}

.header-left-corner {
    width: 5rem;
    height: 100%;
    display: flex;
    background: #FFFFFF;
    align-items: center;
    justify-content: center;

}

.header-left-logo {
    height: 30%;
    filter: invert(100%);
}

.header-right a {
    height: 100%;
}

.no-hover:hover {
    color: rgba(255, 255, 255, 0.3) !important;
}

.header-mobile-items {
    position: absolute;
    width: 100%;
    top: 4rem;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.05);
    mix-blend-mode: normal;
    backdrop-filter: blur(15px);
}

.header-mobile-items-ul {
    margin: 0;
    padding: 0;
    margin-left: 4rem;
}

.header-mobile-items-ul li {
    margin: 2rem;
    color: rgba(255, 255, 255, 0.3);
    list-style-type: none;
    font-family: 'D-DIN Exp', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.063rem;
    letter-spacing: 0.2em;
    transition: 0.2s;

}

.header-mobile-items-ul li:hover {
    color: white;
}
@media (max-width:767px) {
    .header-left-corner {
        width: 4rem;
    }

    .header-right-corner {
        width: 4rem;
    }
    .header-right-corner-image{
        height: 30%;
    }
}