.hub {
    width: 100%;
    /* WebKit-based browsers will ignore this. */
    height: 100%;
    display: flex;
}

.text {
    font-family: 'D-DIN Exp';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.2em;
}

.main-div {
    display: flex;
    background-color: black;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    height: 100%;
    flex-direction: column;
    position: absolute;
}

.main-div-login {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
}

.main-div-button {
    color: black;
    background-color: white;
    height: 4rem;
    margin-bottom: 2rem;
    border: 0;
    width: 100%;
    transition: 0.2s;
}

.main-div-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}


.main-div-p {
    color: white;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.1em;
}

.main-div-h {
    color: white;
    font-size: 24px;
    line-height: 26px;

}

.main-div-text-box {
    margin-bottom: 2rem;
    text-align: center;

}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
}

.mobile-header {
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.mobile-header-corner {
    width: 4rem;
    height: 100%;
    display: flex;
    background: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.mobile-header-logo {
    height: 30%;
    filter: invert(100%);
}
.main-content{
    margin-top: 7.5rem;
    margin-inline: 3.5rem;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    display: flex;
}
.main-content div{
    width: 100%;
}
@media (max-width:767px) {
    .main-div-button{
        height: 3.5rem;
    }
    .main-div-login{
        padding-bottom: 4rem;
    }
    .main-div-text-box{
        width: 100% !important;
    }
}